# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
rsna/
rsna/Lib/
rsna/Scripts/
rsna/Include
rsna/pyvenv.cfg

# PyTorch / TensorFlow / model files
app/*.pth
*.h5

# OS files
.DS_Store
Thumbs.db
